/* text */

.text-1 {
  font-size: 11px !important;
}

.text-2 {
  font-size: 12px !important;
}

.text-3 {
  font-size: 13px !important;
}

.text-4 {
  font-size: 14px !important;
}

.text-5 {
  font-size: 16px !important;
}

.text-6 {
  font-size: 20px !important;
}

.text-7 {
  font-size: 24px !important;
}

.label-1 {
  font-size: 10px !important;
  letter-spacing: 0.75px !important;
}

.label-2 {
  font-size: 11px !important;
  letter-spacing: 1px !important;
}

.label-3 {
  font-size: 12px !important;
  letter-spacing: 1px !important;
}

.label-4 {
  font-size: 13px !important;
  letter-spacing: 1.5px !important;
}

/* ... */

/* text decoration */

.text-underline {
  text-decoration: underline;
}

/* ... */
